
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.container {
    text-align: center;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}


h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}


#Password {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #3d3b3b;
    cursor: pointer; 
    transition: color 0.3s;
}

#Password:hover {
    color: #000;
}

/* Button styling */
button#Refresh {
    padding: 10px 25px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button#Refresh:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}
